body {
    text-align: center;
    background-color: white;
    font-family: "Inter", serif;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 720px;
    margin: auto;
}

h4, p {
    color: white;
}

img {
    width: 100px;
    border-radius: 50%;
}

#hero {
    background-image: url("https://images.unsplash.com/photo-1513407030348-c983a97b98d8?q=80&w=1172&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: bottom;
    width: 720px;
    height: 343px;
}

#hero-title {
    color: white;
    margin: 100px 0 30px 0;
}

#underline {
    border-bottom: 8px solid #E35448;
}

#hero-subtitle {
    color: white;
    background-color: #E35448;
    width: 412px;
    height: 50px;
    font-size: 18px;
    border-radius: 5px;
    margin: auto;
}

.activities {
    background-color: #3B3B43;
    margin: none;
    width: 720px;
    height: 380px;
}

.activities h2 {
    color:#E35448;
    font-size: 24px;
    margin: 40px;
}

#act-img-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0;
}

.act-desc {
    width: 200px;
    font-size: 16px;
    font-weight: 200;
}

.img-round {
    transition: all 1s ease;
    filter: saturate(10%);
}

.img-round:hover {
    filter: saturate(100%);
}

.guide {
    background-color: #D4D4D8;
    width: 720px;
    height: 400px;
}

#guide-card {
    background-color: #3B3B43;
    width: 400px;
    display: flex;
    margin: auto;
    border-radius: 20px;
    padding: 15px;
    margin-top: 50px;
    box-shadow: 0 5px 0px 0 #E35448;
}

#guide-text {
    color: white;
}

#guide-card h3 {
    font-size: 24px;
}

#guide-card p {
    font-size: 18px;
    font-style: italic;
    font-weight: 200;
}

#img-guide {
    border-radius: 0%;
    width: 180px;
    height: 249px;
}

footer {
    background-color: #3B3B43;
    color: white;
    width: 720px;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-text {
    font-size: 10px;
    text-align: center;
}

a {
    color: #E35448;
}

a:hover {
    color: #D4D4D8;
}