body {
    margin: auto;
    width: 80%;
    text-align: center;
    background-color: lightgrey;
    font-family: "Inter", serif;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 720px;
}

img {
    width: 100px;
    border-radius: 50%;
}

#hero {
    background-image: url("/img/tokyo.png");
    background-size: cover;
    background-position: center;
    width: 720px;
    height: 343px;
    margin: none;
}

#hero-title {
    color: white;
    margin: 0;
}

.activities {
    background-color: grey;
    margin: none;
    width: 720px;
    height: 380px;
}

.img-round {
    transition: all 1s ease;
    filter: saturate(10%);
}

.img-round:hover {
    filter: saturate(100%);
}

#img-guide {
    border-radius: 0%;
    width: 180px;
    height: 249px;
}